In [85]:
#https://www.youtube.com/watch?v=7eh4d6sabA0&ab_channel=ProgrammingwithMosh

In [86]:
import pandas as pd
# df = pd.read_csv('vgsales.csv')
music_data = pd.read_csv('music.csv')

In [87]:
music_data

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [88]:
music_data.describe()
# would need to clean up for example year where not all records are populated, or assign a default etc

             age     gender
count  18.000000  18.000000
mean   27.944444   0.500000
std     5.127460   0.514496
min    20.000000   0.000000
25%    25.000000   0.000000
50%    28.000000   0.500000
75%    31.000000   1.000000
max    37.000000   1.000000

In [89]:
# no cleaning needed because no nulls or duplicates etc

In [90]:
# Need to split dataset into two sets, one the first two columsn = inpuit set, last column = output set.
# output set contains the prediction.

In [91]:
input_set = music_data.drop(columns=['genre'])
input_set

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [92]:
output_set = music_data['genre']
output_set

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

In [93]:
from sklearn.tree import DecisionTreeClassifier

In [94]:
model = DecisionTreeClassifier()
model.fit(input_set.values, output_set) # x.values because: https://stackoverflow.com/questions/69326639/sklearn-warning-valid-feature-names-in-version-1-0
model.predict([[21, 1], [22, 0]]) # prediction for a 21yr old male and 22yr old female

array(['HipHop', 'Dance'], dtype=object)

In [95]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
X_train, X_test, Y_train, Y_test = train_test_split(input_set, output_set, test_size=0.2)
M = DecisionTreeClassifier()
M.fit(X_train.values, Y_train) # x.values because: https://stackoverflow.com/questions/69326639/sklearn-warning-valid-feature-names-in-version-1-0
predictions = M.predict(X_test)
accuracy_score(Y_test, predictions) # producses diff each time as the train_test_split splitting is random each time.

C:\Users\archi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\base.py:486: UserWarning: X has feature names, but DecisionTreeClassifier was fitted without feature names
  warnings.warn(

1.0

In [96]:
# Persisting a model
import joblib # has methods for saving and loading models
joblib.dump(M, 'music_reccommender.joblib')

['music_reccommender.joblib']